body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d19595;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #843434;
    overflow: hidden;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #a62020;
}

main {
    padding: 20px;
}

footer {
    background-color: #d19595;
    color: white;
    text-align: center;
    padding: 10px;
}
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: auto;
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #b15050;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a62020;
}

 .meal-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }


 .sport-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }

      .orderd_list{
        list-style: decimal;
      }
      
       .index-img {
        width: 500px;
        height: 300px;
        object-fit: cover;
      }

